title: Appian Connector
url: "https://enterprise-cmcs.github.io/" 
include: ["_ssgManifest.js"]
exclude:
  [
    ".jekyll-cache",
    "*.gemspec",
    "*.gem",
    "Gemfile",
    "Gemfile.lock",
    "LICENSE.txt",
    "README.md",
    "Rakefile",
    "script/",
    "lib/",
    "bin/",
  ]

repo:
  org: Enterprise-CMCS
  name: macpro-appian-connector
  url: https://github.com/Enterprise-CMCS/macpro-appian-connector

slack: 
  channel_url: https://cmsgov.slack.com/archives/C04K1444K89

remote_theme: just-the-docs/just-the-docs
permalink: pretty

# Default search settings.
search_enabled: true

heading_anchors: true

# Aux links for the upper right navigation
aux_links:
  "GitHub":
    - "https://github.com/Enterprise-CMCS/macpro-appian-connector"
aux_links_new_tab: false

# External navigation links
nav_external_links:
  - title: GitHub
    url: https://github.com/Enterprise-CMCS/macpro-appian-connector
  - title: Slack
    url: https://cmsgov.slack.com/archives/C04K1444K89

# Footer content
back_to_top: true
back_to_top_text: "Back to top"
footer_content: "A work of the MACPRO Platform Team for the Centers for Medicare & Medicaid Services."

# Footer GitHub link
gh_edit_link: true
gh_edit_link_text: "Edit this page on GitHub"
gh_edit_repository: "https://github.com/Enterprise-CMCS/macpro-appian-connector"
gh_edit_branch: "master"
gh_edit_source: docs
gh_edit_view_mode: "tree"

plugins:
  - jekyll-remote-theme
  - jekyll-seo-tag
