name: Deploy

on:
  push:
    branches:
      - master
      - val
      - production

concurrency:
  group: ${{ github.ref_name }}-group

env:
  STAGE_NAME: ${{ github.ref_name }}

permissions:
  id-token: write
  contents: write
  issues: write
  pull-requests: write

jobs:
  init:
    runs-on: ubuntu-latest
    steps:
      - name: Validate stage name
        run: |
          if [[ ! $STAGE_NAME =~ ^[a-z][a-z0-9-]*$ ]]; then
              echo "ERROR: Your branch name, $STAGE_NAME, is not a valid stage name." && exit 1
          fi

  deploy:
    runs-on: ubuntu-latest
    needs:
      - init
    environment:
      name: ${{ github.ref_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_TO_ASSUME }}
          aws-region: us-east-1
          role-duration-seconds: 10800

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build CDK
        run: yarn build
        working-directory: infra

      - name: Deploy with CDK
        run: |
          cd infra
          npx cdk deploy appian-alerts-$STAGE_NAME appian-connector-$STAGE_NAME --require-approval never
